// COLORS
$color-black: #000000;
$color-white: #ffffff;
$color-light-blue: #62b9ea;
$color-dark-blue: #0a6ea6;
$color-links: #0078bb;
$color-gray: #808080;
$color-alto: #d9d9d9;
$color-silver-chalice: #a6a6a6;
