.form__message {
  margin-bottom: 27px;
}

.form__message textarea {
  padding: 9px 10px;
  width: 100%;
  height: 160px;
  resize: none;
  outline: none;
  border: 1px solid $color-alto;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 1px solid $color-silver-chalice;
  }

  &:focus,
  &:active {
    padding-top: 8px;
    border: 2px solid $color-light-blue;
  }

  &::placeholder {
    color: $color-gray;
  }
}

.form__options {
  margin-bottom: 33px;
}

.form__checkbox {
  margin-bottom: 29px;
  display: flex;
  align-items: center;
  position: relative;
}

.form__checkbox input {
  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid $color-alto;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    border: 1px solid $color-silver-chalice;
  }

  &:checked {
    width: 24px;
    height: 24px;
    background-image: url("../img/icons/checkbox-checked.svg");
    background-size: 17px 14px;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid $color-light-blue;
  }
}

.form__checkbox label {
  display: block;
  padding-top: 2px;
  padding-left: 35px;
}

.form__contacts h3 {
  margin-bottom: 15px;
}

.form__name {
  margin-bottom: 18px;
  display: flex;
  align-items: center;
}

.form__name label {
  flex-shrink: 0;
  display: block;
  margin-right: 27px;
}

.form__name input {
  padding: 7px 10px;
  height: 32px;
  width: 100%;
  border: 1px solid $color-alto;
  outline: none;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 1px solid $color-silver-chalice;
  }

  &:focus,
  &:active {
    border: 2px solid $color-light-blue;
  }
}

.form__email {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.form__email label {
  flex-shrink: 0;
  display: block;
  margin-right: 27px;
  padding-right: 30px;
}

.form__email input {
  padding: 7px 10px;
  height: 32px;
  width: 100%;
  border: 1px solid $color-alto;
  outline: none;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;

  &:hover {
    border: 1px solid $color-silver-chalice;
  }

  &:focus,
  &:active {
    border: 2px solid $color-light-blue;
  }
}

.form__contacts span {
  display: block;
  margin-left: 97px;
  margin-bottom: 61px;
  font-size: 14px;
  line-height: 18px;
  color: $color-gray;
}

.form__button {
  margin-left: 242px;
  display: flex;
  align-items: center;
  padding: 10px 24px;
  font-size: 16px;
  line-height: 21px;
  color: $color-white;
  background-color: $color-links;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;

  &:hover {
    background-color: $color-light-blue;
  }

  &:focus,
  &:active {
    background-color: $color-dark-blue;
  }

  &:focus span,
  &:active span {
    opacity: 0.6;
  }

  &:focus svg,
  &:active svg {
    opacity: 0.6;
  }
}

.form__button span {
  display: block;
  margin-left: 5px;
  font-size: 20px;
  line-height: 26px;
}
