.user-navigation {
  display: flex;
  align-items: center;
}

.user-navigation__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.user-navigation__item:not(:last-child) {
  margin-right: 19px;
}

.user-navigation__link {
  font-size: 16px;
  line-height: 21px;
  color: $color-links;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;

  &:hover {
    color: $color-light-blue;
    text-decoration: none;
  }

  &:focus,
  &:active {
    color: $color-dark-blue;
  }
}

.user-navigation__button {
  margin-left: 20px;
  padding: 6px 29px;
  font-size: 16px;
  line-height: 21px;
  color: $color-white;
  background-color: $color-links;
  transition: all 0.3s ease-in-out;
  border-radius: 4px;

  &:hover {
    background-color: $color-light-blue;
  }

  &:focus,
  &:active {
    background-color: $color-dark-blue;
  }

  &:focus span,
  &:active span {
    opacity: 0.6;
  }
}

.user-navigation__button span {
  color: currentColor;
  opacity: 1;
}

@media (max-width: 860px) {
  .user-navigation {
    flex-direction: column;
  }

  .user-navigation__button {
    margin: 0;
  }

  .user-navigation__links {
    margin-bottom: 15px;
  }
}
